{% extends "layouts/main.twig" %}

{% block title %}Welcome - {{ parent() }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="relative w-full px-6 py-12 bg-white shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5 mx-auto lg:pt-16 lg:pb-28">
    <div class="prose prose-slate mx-auto lg:prose-lg">
        <h1>{{ block('title') }}</h1>
        <h2>Hello {{ name }}!</h2>

        {# Dumping a variable for debugging purposes #}
        {{ dump(name) }}
    </div>
</div>
{% endblock %}